@import "tailwindcss";

@theme {
  --color-primary-100: #fdecf4;
  --color-primary-300: #eaa8c3;
  --color-primary-500: #cf6387;
  --color-primary-600: #ac5174;

  --animate-pop: pop 0.3s ease-out forwards;
}

@keyframes pop {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

body {
  font-family: "Quicksand", sans-serif;
}
